<!DOCTYPE html>
<html ng-app="mytodo">
  <head>
    <title>Todo App</title>
  </head>
  <body>
    <div class="container" ng-controller="UserController as user">
      <!-- This page will render the list of full list of current users stored in the database -->

      <!-- refer to something in the list controller, need to use the alias -->
      <h2 class="title" ng-init="user.getUsers()">{{user.title}}</h2>

      <!-- Current user name display and edit (form field) -->
      <div ui-sortable ng-model="users">
        <p class="input-group" ng-repeat="user in user.users" style="padding:5px 10px; cursor: move;">
          <input type="text" ng-model="user.username" class="form-control">

          <!-- View one user's boards -->
          <span class="input-group-btn">
            <a href="/#/boards?user_name={{user.username}}&user_id={{user._id}}" class="btn btn-info" aria-label="View">View Boards</a>
          </span>

          <!-- Edit a user name -->
          <span class="input-group-btn">
            <button class="btn btn-info" ng-click="UserController.updateUser(user._id, user.username)" aria-label="Edit">Edit</button>
          </span>

          <!-- Remove a user from the list of users -->
          <span class="input-group-btn">
            <button class="btn btn-danger" ng-click="UserController.removeUser(user._id)" aria-label="Remove">X</button>
          </span>

        </p>
      </div>
    </div>
  </body>
</html>
