<!DOCTYPE html>
<html ng-app="mytodo">
  <head>
    <title>Todo App</title>
  </head>
  <body>
    <div class="container">
      <!-- refer to something in the list controller, need to use the alias -->
      <h2 ng-model="title">{{UserController.title}}</h2>

      <!-- Create list input -->
      <form role="form" ng-submit="UserController.createUser()">
        <div class="row">
          <div class="input-group">
            <input type="text" ng-model="UserController.formData.user_name" placeholder="Enter your name" class="form-control">
            <span class="input-group-btn">
              <input type="submit" class="btn btn-primary" value="Add">
            </span>
          </div>
        </div>
      </form>

      <!-- List input -->
      <div ui-sortable ng-model="UserController.user">
        <p class="input-group" ng-repeat="user in UserController.users" style="padding:5px 10px; cursor: move;">
          <input type="text" ng-model="user.user_name" class="form-control">

          <!-- View one list -->
          <span class="input-group-btn">
            <a href="/#/boards?user_name={{user.user_name}}&user_id={{user._id}}" class="btn btn-info" aria-label="View">View Boards</a>
          </span>

          <!-- Edit list -->
          <span class="input-group-btn">
            <button class="btn btn-info" ng-click="UserController.updateUser(user._id, user.user_name)" aria-label="Edit">Edit</button>
          </span>

          <!-- Remove list -->
          <span class="input-group-btn">
            <button class="btn btn-danger" ng-click="UserController.removeUser(user._id)" aria-label="Remove">X</button>
          </span>

        </p>
      </div>
    </div>
  </body>
</html>
