<!DOCTYPE html>
<html ng-app="mytodo">
  <head>
    <title>Todo App</title>
  </head>
  <body>
    <div class="container">
      <h2 ng-model="title">{{title}}</h2>

      <!-- Create list input -->
      <form role="form" ng-submit="createList()">
        <div class="row">
          <div class="input-group">
            <input type="text" ng-model="formData.list_name" placeholder="What needs to be done?" class="form-control">
            <span class="input-group-btn">
              <input type="submit" class="btn btn-primary" value="Add">
            </span>
          </div>
        </div>
      </form>

      <!-- Remove list input -->
      <div ui-sortable ng-model="list">
        <p class="input-group" ng-repeat="list in lists" style="padding:5px 10px; cursor: move;">
          <input type="text" ng-model="list.list_name" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-danger" ng-click="removeList(list._id)" aria-label="Remove">X</button>
          </span>

          <!-- Edit list input -->
          <span class="input-group-btn">
            <button class="btn btn-info" ng-click="updateList(list._id, list.list_name)" aria-label="Edit">Edit</button>
          </span>

          <!-- View one list -->
          <span class="input-group-btn">
            <a href="/#/items?list_title={{list.list_title}}&list_id={{list._id}}" class="btn btn-info" ng-click="ViewOneList(list._id)" aria-label="View">View List</a>
          </span>
        </p>
      </div>
    </div>
  </body>
</html>
