<!DOCTYPE html>
<html ng-app="mytodo">
  <head>
    <title>Todo App</title>
  </head>
  <body>
    <div class="container">
      <!-- refer to something in the list controller, need to use the alias -->
      <h1 class="title" ng-model="title">{{ListController.title}}</h1>
      <!-- Panel for list -->
      <div class="row">
        <div ui-sortable ng-model="ListController.list">
          <div ng-repeat="list in ListController.lists">
            <div class="col-sm-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title" ng-model="list.list_name"><h2>{{list.list_name}}</h2>
                    <!-- ***Dropdown testing, single button with keyboard navigation*** -->
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default glyphicon glyphicon-plus-sign"></button>
                      <button type="button" class="btn btn-default glyphicon glyphicon-pencil"></button>
                      <button type="button" class="btn btn-default glyphicon glyphicon-minus-sign"></button>
                    </div>
                  </div>
                </div> <!-- /close panel heading -->

                <div class="panel-body">
                  <!-- Nesting for Items into Lists -->
                  <div ng-controller="ItemController as Items">
                    <div ng-init="Items.getItems(list._id)">

                      <!-- iterating through items -->
                      <div class='list-items input-group' ng-repeat="item in Items.items">

                        <form>
                          <!-- ***Testing segmented buttons*** -->
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="input-group">
                                <input type="text" class="form-control" ng-model="Items.formData.item_name" placeholder="Add an item..." aria-label="Text input with segmented button dropdown">
                                <div class="input-group-btn">
                                  <!--Add item button -->
                                  <button type="button" class="btn btn-secondary glyphicon glyphicon-plus-sign"></button>
                                  <!-- Remove item button -->
                                  <button type="button" class="btn btn-secondary glyphicon glyphicon-minus-sign" ng-click="Items.removeItem(item._id)"></button>
                                  <!-- Edit item button -->
                                  <button type="button" class="btn btn-secondary glyphicon glyphicon-pencil" ng-click="Items.updateItem(item._id, item.item_name)"></button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- ***Testing segmented buttons*** -->
                        </form>

                        <!-- items list -->
                        <input type="text" ng-model="item.item_name" class="form control">
                      </div> <!-- /iterating through items -->
                    </div> <!-- /get items -->

                    <!-- Create items input -->
                    <form role="form" ng-submit="Items.createItem(list._id, Items.formData)">
                      <div class="row">
                        <div class="input-group input-group-sm">
                          <input type="text"  class="form-control" placeholder="Add an item...">
                          <span class="input-group-btn">
                            <input type="submit" class="btn btn-primary" value="Add New Item">
                          </span>
                        </div>
                      </div>
                    </form>
                  </div> <!-- closes the items controller -->
                </div> <!-- /panel body -->
              </div> <!-- /close panel -->
            </div> <!-- /col-sm-4 -->
          </div> <!-- ng-repeat lists -->

          <!-- Panel for creating a new list -->
          <div class="row">
            <div class="col-sm-4">
              <form role="form" ng-submit="ListController.createList(ListController.formData)">
                <div class="row">
                  <div class="input-group input-group-lg">
                    <input type="text" ng-model="ListController.formData.list_name" class="form-control" placeholder="Add a list...">
                    <span class="input-group-btn">
                      <!-- 'Add list' button -->
                      <button type="submit" class="btn btn-primary">Add</button>
                    </span>
                  </div> <!-- input-group -->
                </div> <!-- /row -->
              </form>
            </div><!-- /.col-sm-4 -->
          </div> <!-- close panel for creating a new list -->
        </div> <!-- /list controller lists (ng-model) -->
      </div> <!-- /row -->
    </div> <!-- / container -->
  </body>
</html>
