<!DOCTYPE html>
<html ng-app="mytodo">
  <head>
    <title>Todo App</title>
  </head>
  <body>
    <div class="container">
      <h2>{{Items.title}}</h2>

      <!-- Create items input -->
      <form role="form" ng-submit="Items.createItem()">
        <div class="row">
          <div class="input-group">
            <input type="text" ng-model="formData.item_name" placeholder="What needs to be done?" class="form-control">
            <span class="input-group-btn">
              <input type="submit" class="btn btn-primary" value="Add">
            </span>
          </div>
        </div>
      </form>

      <!-- List items input -->
      <div ui-sortable ng-model="items">
        <p class="input-group" ng-repeat="item in Items.items" style="padding:5px 10px; cursor: move;">
          <input type="text" ng-model="item.item_name" class="form-control">

          <!-- Edit items button -->
          <span class="input-group-btn">
            <button class="btn btn-info" ng-click="Items.updateTodo(item._id, item.item_name)" aria-label="Edit">Edit</button>
          </span>

          <!-- Remove items button -->
          <span class="input-group-btn">
            <button class="btn btn-danger" ng-click="Items.removeTodo(item._id)" aria-label="Remove">X</button>
          </span>
        </p>
      </div>
    </div>
  </body>
</html>
