<!DOCTYPE html>
<html ng-app="mytodo">
  <head>
    <title>Todo App</title>
  </head>
  <body>
    <div class="container">
      <!-- refer to something in the list controller, need to use the alias -->
      <h2 ng-model="title">{{BoardController.title}}</h2>

      <!-- Create list input -->
      <form role="form" ng-submit="BoardController.createBoard()">
        <div class="row">
          <div class="input-group">
            <input type="text" ng-model="BoardController.formData.board_name" placeholder="What needs to be done?" class="form-control">
            <span class="input-group-btn">
              <input type="submit" class="btn btn-primary" value="Add">
            </span>
          </div>
        </div>
      </form>

      <!-- List input -->
      <div ui-sortable ng-model="BoardController.list">
        <p class="input-group" ng-repeat="list in BoardController.lists" style="padding:5px 10px; cursor: move;">
          <input type="text" ng-model="list.list_name" class="form-control">

          <!-- View one list -->
          <span class="input-group-btn">
            <a href="/#/boards?board_title={{board.board_name}}&board_id={{board._id}}" class="btn btn-info" aria-label="View">View Board Lists</a>
          </span>

          <!-- Edit list -->
          <span class="input-group-btn">
            <button class="btn btn-info" ng-click="BoardController.updateBoard(board._id, board.board_name)" aria-label="Edit">Edit</button>
          </span>

          <!-- Remove list -->
          <span class="input-group-btn">
            <button class="btn btn-danger" ng-click="BoardController.removeBoard(board._id)" aria-label="Remove">X</button>
          </span>

        </p>
      </div>
    </div>
  </body>
</html>
