<h1 class="title">To-do-ulate</h1>
<h2 class="description">Sign Up To Join To-do-ulate</h2>

<div class="form-container">
  <form class="signin-form" ng-controller="SignupController as signup" ng-submit="signup.signupUser()" role="form">
    <div class="form-group row">
      <label for="userSignupName" class="col-sm-2 form-control-label" class="sr-only">Name</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="userLoginName" ng-model="signup.formData.name" placeholder="Name">
      </div>
    </div>
    <div class="form-group row">
      <label for="userSignupUsername" class="col-sm-2 form-control-label" class="sr-only">Desired Username</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="userLoginUsername" ng-model="signup.formData.username" placeholder="username">
      </div>
    </div>
    <div class="form-group row">
      <label for="userSignupEmail" class="col-sm-2 form-control-label" class="sr-only">Email Address</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="userLoginEmail" placeholder="Email Address" ng-model="signup.formData.email">
      </div>
    </div>
    <div class="form-group row">
      <label for="userSignupPassword" class="col-sm-2 form-control-label" class="sr-only">Password</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" name="password" id="userLoginPassword" placeholder="Password" ng-model="signup.formData.password">
      </div>
      <div class="col-sm-7">
        <button type="submit" class="btn btn-warning btn-lg btn-block">Sign Up</button>
      </div>
    </div>
  </form>
<div>
