<h1 class="title">To-do-ulate</h1>
<h2 class="description">Log in to your account</h2>

<form ng-controller="LoginController as login" ng-submit="login.loginUser()" role="form">
  <div class="form-group row">
    <label for="userLoginEmail" class="col-sm-2 form-control-label">Email Address</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="username" id="userLoginEmail" placeholder="Email Address" ng-model="login.formData.username">
    </div>
  </div>
  <div class="form-group row">
    <label for="userLoginPassword" class="col-sm-2 form-control-label">Password</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="password" id="userLoginPassword" placeholder="Password" ng-model="login.formData.password">
    </div>
    <div class="col-sm-7">
      <button type="button" class="btn btn-warning btn-lg btn-block">Log In</button>
    </div>
  </div>
</form>
