.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

.test-class-list {
  display: inline-block;
  width: 300px;
}

.test-class-row {
  white-space: nowrap;
  overflow-x: auto;
}
