.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

body {
  padding-top: 50px;
  background-color: rgb(0, 121, 191);
  margin: 0;
  padding: 0;
}

.title, .navbar-links {
  color: rgb(246, 246, 246) !important;
}

.title {
  padding-top: 60px;
}

.panel-title {
  padding-right: 20px;
}

.navbar-fixed-top {
  background-color: rgb(2, 106, 167);
}

h1.title, div.form-container, .form-group, .chart-icon-container {
  margin: 0 auto;
}

h1.title, div.sign-up-button, h2.description {
  text-align: center;
}

h1.title {
  padding-top: 50px;
}

.chart-icon-container {
  width: 350px;
}

.chart-icon {
  width: 350px;
  text-align: center;
}

a {
  color: white;
}

#user-form {
  margin-top: 20px;
}

#add-item-form, #list-title {
  display: inline-block;
  width: 80%;
}

#delete-list {
  color: rgb(2, 106, 167);
}
